.careerContainer {
  padding: 5vh 8vw 5vh calc(13vw + 300px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 475px;
  font-family: 'News Cycle', sans-serif;
}

.careerSpacer {
  width: 100%;
  min-height: 30vh;
}

.titleContainer {
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.title {
  width: 200px;
}

.sub-title{
  text-align: right;
  position: relative;
  font-size: .6em;
  letter-spacing: 0px;
  margin-top: 10px;
  min-width: 400px;
  width: 100%;
  float: right;
  top: -15px;
  right: 5px;
}

.title img{
  max-width: 100%;
  min-width: 100%;
}

.icn {
  height: 15px;
  width: auto;
  margin: 2.5px;
}

.blurb.justified {
  text-align: justify;
  text-align-last: left;
}

.videoContainer {
  display: flex;
  width: 100%;
}

.vidCard {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.vidCard:first-of-type {
  margin: 0 1rem 0 0;
}

@media (max-width: 768px) {

  .careerContainer {
    padding: 5vw;
    min-width: 0;
  }

  .careerSpacer {
    min-height: 100px;
  }

  .videoContainer {
    flex-direction: column;
  }

  .vidCard:first-of-type {
    margin: 0 0 2rem 0;
  }

}
