.introContentPhoto{
  height:100vh; 
  white-space: nowrap;
  overflow-y: hidden;
  display: flex;
}
.spacer {
  height: 100%;
  min-width: calc(13vw + 300px)
}
.textContainer {
  padding: 0 50px;
  margin: auto;
}
.titlePhoto{
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.blurb {
  text-align: right;
  font-family: 'News Cycle', sans-serif;
  font-size: .8em;
  margin-top: 10px;
}

a {
  text-decoration: none;
}
a:hover{
	color:#b3a296;
}
