.container {
  height: 100vh;
  display: flex;
  background-position: absolute; 
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'News Cycle', sans-serif;
  color: #404040;
  background-image: url(./assets/imgs/homepic1.jpg);
  overflow: auto;
}
